﻿
@page "/userarea/accounts/register"
@page "/userarea/accounts/register/{FormName}"
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager Navigation

<PageTitle>FARSOUND | Register</PageTitle>
<div style="text-align: center;">
    <br />
    <br />
    <h2>User Area</h2>
    <br />
    <br />
    <h4>Sign Up</h4>
</div>

<EditForm Model="@user" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: #f1f1f1;
            color: #FF4D00;
        }
        .button 
        {
            border-radius: 8px;
        }
    </style>
    <div style="text-align: center;">
    <h5>Name</h5>
    <div>
        <label for="username">Username*</label>
        <InputText id="username" @bind-Value="user.Username" />
    </div>
    <br />
    <div>
        <label for="email">E-mail*</label>
        <InputText id="email" @bind-Value="user.Email" />
    </div>
    <br />
    <h5>Account Security</h5>
    <div>
        <label for="password">Password*</label>
        <InputText id="password" @bind-Value="user.Password" type="password" />
    </div>
    <br />
    <div>
        <label for="repeatPassword">Repeat Password*</label>
        <InputText id="repeatPassword" @bind-Value="user.repeatPassword" type="password" />
    </div>
    <br />
    <div>
        <label for="securityQuestion">Security Question*</label>
        <InputText id="securityQuestion" @bind-Value="user.securityQuestion" />
    </div>
    <br />
    <div>
        <label for="securityAnswer">Security Answer*</label>
        <InputText id="securityAnswer" @bind-Value="user.securityAnswer" />
    </div>
    <br />
    <button class="button" type="submit" style="background-color: #FF4D00;">Create User</button>
    <br />
    <br />
    <a href="/userarea/accounts/login">Already have an account? Login here.</a>
    <br />
        <a href="/userarea/accounts/forgotpassword">Forgotten your password?</a>
    </div>

    @* <footer class="footer"> *@
    @*     Copyright © Farsound Aviation 2024 *@
    @* </footer> *@
</EditForm>

@code {
    [Parameter]
    public string FormName { get; set; }

    private UserModel user = new UserModel();

    private void HandleValidSubmit()
    {
        // Handle the registration logic here
    }

    public class UserModel
    {
        public string Username { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
        public string repeatPassword { get; set; }
        public string securityQuestion { get; set; }
        public string securityAnswer { get; set; }
    }
}