@page "/accounts/forgotpassword"

<div style="text-align: center;">
    <h3>Password Reset</h3>
</div>

<EditForm Model="@user" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: #f1f1f1;
            color: #FF4D00;
        }
    </style>

    <div style="text-align: center;">
        <h6>Forgotten Your Password?</h6>
        <br />
        <p1>Enter your Username to retrieve your password</p1>
    </div>
    <div style="text-align: center;">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="user.Username" />
    </div>
    <br />
    <div style="text-align: center;">
        <button type="submit" style="background-color: #FF4D00;">submit</button>
    </div>
    <br />
    <footer class="footer">
        Copyright © Farsound Aviation 2024
    </footer>

</EditForm>

@code {
    private UserModel user = new UserModel();

    private void HandleValidSubmit()
    {
        // Handle the registration logic here
    }


    private void NavigateToResetPasswordConfirmation()
    {
        NavigationManager.NavigateTo("/accounts/resetpasswordconfirmation");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    public class UserModel
    {
        public string Username { get; set; }
    }
}
