@page "/accounts/login"

<div style="text-align: center;">
    <h3>User Area</h3>
    <h2>Log In</h2>
</div>


<EditForm Model="@user" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <style>
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px;
            background-color: #f1f1f1;
            color: #FF4D00;
        }
    </style>
    <div style="text-align: center;">
    <div>
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="user.Username" />
    </div>
    <br />
    <div>
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="user.Password" type="password" />
    </div>
    <br />
    <div>
        <InputCheckbox id="rememberMe" @bind-Value="user.RememberMe" />
        <label for="rememberMe">Remember Me</label>
    </div>
    <br />
    <button type="submit" style="background-color: #FF4D00;">Log In</button>
    <br />
    <br />
    <a href="accounts/register">Don't have an account? Register here.</a>
    <br />
    <a href="accounts/forgotpassword">Forgotten your password?</a>
    </div>
    <footer class="footer">
        Copyright © Farsound Aviation 2024
    </footer>
</EditForm>

@code {
    private UserModel user = new UserModel();

    private void HandleValidSubmit()
    {
        // Handle the registration logic here
    }

    public class UserModel
    {
        public string Username { get; set; }
        public string Password { get; set; }
        public bool RememberMe { get; set; }
    }
}
