@page "/accounts/resetpasswordconfirmation"

<div style="text-align: center;">
    <h3>Password Reset</h3>
</div>

<h1>Reset password confirmation</h1>
<p>
    Your password has been reset. Please <a href="accounts/Login">click here to log in</a>.
</p>

