@page "/forgotpassword"

<div style="text-align: center;">
    <h3>Password Reset</h3>
</div>

<EditForm Model="@user" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div style="text-align: center;">
        <h6>Forgot Your Password?</h6>
        <br />
        <p1>Enter your Username to retrieve your password</p1>
    </div>
    <div style="text-align: center;">
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="user.Username" />
    </div>
    <br />
    <div style="text-align: center;">
        <button type="submit" style="background-color: #FF4D00;">submit</button>
    </div>
    <br />

</EditForm>

@code {
    private UserModel user = new UserModel();

    private void HandleValidSubmit()
    {
        // Handle the registration logic here
    }

    public class UserModel
    {
        public string Username { get; set; }
    }
}
