@page "/"
@code {
    private string farsoundbackground = "farsoundbackground.png";
}

<PageTitle>FARSOUND</PageTitle>
 <style>
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #f1f1f1;
        color: #FF4D00;
    }
    .contact-info {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
        padding: 10px;
        background-color: #f1f1f1;
    }


</style> 
<div class="background">
    <br />
    <br />
    <h1 style="text-align: center; font-weight: bold;">Customer Portal</h1>
    <br />
    <br />
    <br />
    <br />
    @* <p style="text-align: center;">You are logged in.</p> *@
    @* <br /> *@
    @* <br /> *@
    <p style="text-align: center;">Welcome to <a href="https://www.farsound.com/">FARSOUND</a> Customer Portal. Here you can view and fetch order details and documentations.</p>
</div>
<div class="contact-info">
    <section id="text-3" class="widget clearfix widget_text">
        <h3 class="widgettitle">Headquarters</h3>
        <div class="textwidget">
            <p>
                Farsound Aviation Limited<br />
                Tilbury Road<br />
                West Horndon, Brentwood<br />
                CM13 3LR
            </p>
            <p style='color:lightgrey'>
                +44 (0)1708 336 780<br />
                <a style='color:lightgrey' href="mailto:sales@farsoundaviation.com">sales@farsoundaviation.com</a><br />
                <a style='color:lightgrey'
                   href="mailto:accounts@farsoundaviation.com">accounts@farsoundaviation.com</a><br />
                <a style='color:lightgrey'
                   href="mailto:purchasing@farsoundaviation.com">purchasing@farsoundaviation.com</a><br />
            </p>
        </div>
        <span class="seperator extralight-border"></span>
    </section>
</div>
@* <footer class="footer"> *@
@*     Copyright © Farsound Aviation 2024 *@
@* </footer> *@
