@page "/"
@code {
    private string farsoundbackground = "farsoundbackground.png";
}

<PageTitle>Home</PageTitle>
 <style>
    /* .background { */
    /*     background-image: url('@farsoundbackground'); */
    /*     background-size: cover; */
    /*     background-position: center; */
    /*     height: 100vh; */
    /*     width: 100%; */
    /* } */
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #f1f1f1;
        color: #FF4D00;
    }
</style> 
<div class="background">
    <h1 style="text-align: center;">Customer Portal</h1>
    <p style="text-align: center;">Welcome to <a href="https://www.farsound.com/">FARSOUND</a> Customer Portal. Here you can view and fetch order details and documentation.</p>
</div>
<footer class="footer">
    Copyright Farsound Aviation 2024
</footer>
