@page "/manageuseraccount/activeusers"

@using Microsoft.AspNetCore.Authorization

<PageTitle>FARSOUND | Active Users</PageTitle>

<h3 style="text-align: center; font-weight: bold;">Active Users</h3>

@attribute [Authorize (Roles = "Admin")]

@code {

}
