@page "/manageuseraccount/pendingusersapprovals"

@using Microsoft.AspNetCore.Authorization

<PageTitle>FARSOUND | Pending Users Approval</PageTitle>
<h3 style ="text-align: center; font-weight: bold;">Pending Users Approvals</h3>


@attribute [Authorize(Roles = "Admin")]

@code {

}
