@page "/manageuseraccount/userslinkedtobc"
@using Microsoft.AspNetCore.Authorization

<PageTitle>FARSOUND | Users Linked to BC</PageTitle>

<h3 style ="text-align: center; font-weight: bold;">Users Linked ToBC</h3>


@attribute [Authorize(Roles = "Admin")]

@code {

}
